<ion-item [routerLink]="['/usluge/tabs/istrazi', usluga.id]">
  <ion-avatar slot="start">
    <ion-img src="https://img.myloview.com/stickers/camera-with-flash-icon-elements-of-camera-icon-for-concept-and-web-apps-illustration-icon-for-website-design-and-development-app-development-premium-icon-400-111926464.jpg"></ion-img>
  </ion-avatar>
  <ion-label>{{usluga.nazivUsluge}}</ion-label>
  <!--<ion-icon *ngIf="!isAdmin" name="bookmark-outline" (click)="openAlert($event)"></ion-icon>-->
</ion-item>