.usluga-card {
  margin: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.zakazi-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.custom-popover {
  --width: 300px; 
  --max-width: 90vw; 
}

@media (min-width: 768px) {
  .custom-popover {
    --width: 400px;
  }
}

@media (min-width: 1024px) {
  .custom-popover {
    --width: 500px;
  }
}
