<ion-header>
  <ion-toolbar>
    <ion-title>Zakazani termini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let usluga of savedUsluge">
      <ion-avatar slot="start">
        <ion-img src="https://img.myloview.com/stickers/camera-with-flash-icon-elements-of-camera-icon-for-concept-and-web-apps-illustration-icon-for-website-design-and-development-app-development-premium-icon-400-111926464.jpg"></ion-img>
      </ion-avatar>
      <ion-label>{{ usluga.nazivUsluge }} : {{ usluga.datumZakazivanja ? formatDate(usluga.datumZakazivanja) : 'N/A' }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
