<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registracija</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-grid>
      <ion-row class="ion-justify-content-center">

        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">Ime</ion-label>
            <ion-input type="text" formControlName="ime"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">Prezime</ion-label>
            <ion-input type="text" formControlName="prezime"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center"
        *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <ion-col size-sm="6">
          <p>Nije validna email adresa!</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Lozinka</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center"
        *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <ion-col size-sm="6">
          <p>Lozinka mora da ima minimum 7 karaktera!</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="6">
          
          <ion-button type="submit" expand="block" shape="round" [disabled]="registerForm.invalid"
            >Registruj
            se</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>