<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Dodaj uslugu</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #f="ngForm" (ngSubmit)="onAddUsluga(f)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Naziv usluge </ion-label>
            <ion-input type="text" ngModel name="naziv" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Opis usluge </ion-label>
            <ion-textarea type="text" rows="6" ngModel name="opis" required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
         <ion-button type="submit" color="primary" expand="block" [disabled]="f.invalid">
          Dodaj
         </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
